<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.the.fastorder">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastOrder"
        tools:targetApi="31">
        <activity
            android:name="com.the.fastorder.ActivityForNonRegisUser"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.WriteReviewActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.ShopReviesActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.ShopDetailActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.SetingsActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.RegisterUserActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.RegisterSelerActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.ProfileEditUserActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.ProfileEditSelerActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.OrderDetailUserActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.OrderDetailSelerActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.MainUserActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.MainSelerActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.ForgetPasswordActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.EditProductActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.AddProductActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false" />
        <activity
            android:name="com.the.fastorder.MainActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>